*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Ubuntu', sans-serif;}
/*
font-family: 'Dancing Script', cursive;
*/
.nav1{
    width: 100%;
    height: 50px;
    color: white;
    background: #222f3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav1 i {
    margin: 0 5px;
}
.nav1 a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    
    background: #e67e22;
}
.nav2 {
    width: 100%;
    height: 80px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}
.menu a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
header {
    width: 100%;
    height: 100vh;
    background:url('4.jpg');
    background-size: 100% 100%;

}